@media only screen and (max-width : 1600px) {

	#content .mato4
	{
		right: -295px!important;
	}

	#content .mato3
	{
		left: -390px!important;
	}

	#content .mato1
	{
		left: -275px!important;
	}

	#content .capacete
	{
		left: -40px!important;
	}

	#content .bike
	{
		right: -60px!important;
	}

	#content .bike-noticias
	{
		right: -80px!important;
	}

	#content .fotos-noticias
	{
		left: -130px!important;
	}

	#content .rapel
	{
		left: -250px!important;
	}

	#content .tirolesa
	{
		right: -20px!important;
	}

	#content .ave
	{
		top: 370px!important;
		left: -340px!important;
	}

	#content .esquilo
	{
		right: -220px!important;
	}

	#content .capaceteRight
	{
		top: 290px!important;
		right: -80px!important;
	}

	#content .equipamento
	{
		right: -180px!important;
	}

	#content .rede
	{
		right: -380px!important;
	}

	#content .camping
	{
		left: -420px!important;
	}

	#content .equipamentoRight
	{
		right: -170px!important;
	}

	#content .carro
	{
		top: 850px!important;
		left: -310px!important;
	}

	#content .mochileiro
	{
		top: 570px!important;
		right: -190px!important;
	}

	#content .fotos-mural
	{
		top: 690px!important;
		left: -170px!important;
	}

	#content .traking-contato
	{
		left: -60px!important;
	}

	#content .esquilo-contato
	{
		right: -170px!important;
	}

	#content .ave-contato
	{
		left: -340px!important;
	}
}

@media only screen and (max-width : 1440px) {

	#content .mato4
	{
		right: -395px!important;
	}

	#content .mato3
	{
		left: -490px!important;
	}

	#content .mato1
	{
		left: -375px!important;
	}
	
	#content .capacete
	{
		left: -140px!important;
	}

	#content .bike
	{
		right: -160px!important;
	}

	#content .bike-noticias
	{
		right: -180px!important;
	}

	#content .fotos-noticias
	{
		left: -213px!important;
	}

	#content .rapel
	{
		left: -350px!important;
	}

	#content .tirolesa
	{
		right: -120px!important;
	}

	#content .ave
	{
		top: 370px!important;
		left: -440px!important;
	}

	#content .esquilo
	{
		right: -320px!important;
	}

	#content .capaceteRight
	{
		top: 290px!important;
		right: -180px!important;
	}

	#content .equipamento
	{
		right: -180px!important;
	}

	#content .rede
	{
		right: -480px!important;
	}

	#content .camping
	{
		left: -420px!important;
	}

	#content .equipamentoRight
	{
		right: -270px!important;
	}

	#content .carro
	{
		top: 850px!important;
		left: -410px!important;
	}

	#content .carro-turismo
	{
		left: -280px!important;
	}

	#content .bike-turimo
	{
		right: -100px!important;
	}

	#content .mochileiro
	{
		top: 570px!important;
		right: -290px!important;
	}

	#content .fotos-mural
	{
		top: 690px!important;
		left: -170px!important;
	}

	#content .traking-contato
	{
		left: -160px!important;
	}

	#content .traking
	{
		left: -110px!important;
	}

	#content .esquilo-contato
	{
		right: -270px!important;
	}

	#content .ave-contato
	{
		left: -440px!important;
	}
}

@media only screen and (max-width : 1280px) {

	#content .mato4
	{
		right: -465px!important;
	}

	#content .mato3
	{
		left: -650px!important;
	}

	#content .mato1
	{
		left: -475px!important;
	}

	#content .mato2
	{
		right: -315px!important;
	}
	
	#content .capacete
	{
		left: -240px!important;
	}

	#content .bike
	{
		right: -160px!important;
	}

	#content .bike-noticias
	{
		right: -240px!important;
	}

	#content .fotos-noticias
	{
		left: -293px!important;
	}

	#content .rapel
	{
		left: -350px!important;
	}

	#content .tirolesa
	{
		right: -120px!important;
		display: none!important;
	}

	#content .ave
	{
		top: 370px!important;
		left: -540px!important;
	}

	#content .esquilo
	{
		right: -420px!important;
	}

	#content .capaceteRight
	{
		top: 290px!important;
		right: -180px!important;
		display: none!important;
	}

	#content .equipamento
	{
		right: -280px!important;
	}

	#content .rede
	{
		right: -580px!important;
	}

	#content .camping
	{
		left: -520px!important;
	}

	#content .equipamentoRight
	{
		right: -370px!important;
	}

	#content .carro
	{
		top: 850px!important;
		left: -470px!important;
	}

	#content .carro-turismo
	{
		left: -390px!important;
	}

	#content .bike-turimo
	{
		right: -180px!important;
	}

	#content .mochileiro
	{
		top: 570px!important;
		right: -330px!important;
	}

	#content .fotos-mural
	{
		top: 690px!important;
		left: -270px!important;
	}

	#content .traking-contato
	{
		left: -200px!important;
	}

	#content .traking
	{
		left: -210px!important;
	}

	#content .esquilo-contato
	{
		right: -330px!important;
	}

	#content .ave-contato
	{
		left: -540px!important;
	}
}


@media only screen and (max-width : 1125px) {

	#content .mato1
	{
		left: -515px!important;
	}

	#content .mato2
	{
		right: -405px!important;
	}

	#content .mato3
	{
		left: -720px!important;
	}

	#content .mato4
	{
		right: -505px!important;
	}

	#content .capacete
	{
		left: -240px!important;
		display: none!important;
	}

	#content .bike
	{
		right: -160px!important;
		display: none!important;
	}

	#content .bike-noticias
	{
		right: -240px!important;
		display: none!important;
	}

	#content .fotos-noticias
	{
		left: -293px!important;
		display: none!important;
	}

	#content .rapel
	{
		left: -350px!important;
		display: none!important;
	}

	#content .tirolesa
	{
		right: -120px!important;
		display: none!important;
	}

	#content .ave
	{
		top: 370px!important;
		left: -540px!important;
		display: none!important;
	}

	#content .esquilo
	{
		right: -420px!important;
		display: none!important;
	}

	#content .capaceteRight
	{
		top: 290px!important;
		right: -180px!important;
		display: none!important;
	}

	#content .alpinista
	{
		display: none!important;
	}

	#content .equipamento
	{
		right: -280px!important;
		display: none!important;
	}

	#content .rede
	{
		right: -580px!important;
		display: none!important;
	}

	#content .camping
	{
		left: -520px!important;
		display: none!important;
	}

	#content .equipamentoRight
	{
		right: -370px!important;
		display: none!important;
	}

	#content .carro
	{
		top: 850px!important;
		left: -470px!important;
		display: none!important;
	}

	#content .carro-turismo
	{
		left: -390px!important;
		display: none!important;
	}

	#content .bike-turimo
	{
		right: -180px!important;
		display: none!important;
	}

	#content .mochileiro
	{
		top: 570px!important;
		right: -330px!important;
		display: none!important;
	}

	#content .fotos-mural
	{
		top: 690px!important;
		left: -270px!important;
		display: none!important;
	}

	#content .traking-contato
	{
		left: -200px!important;
		display: none!important;
	}

	#content .traking
	{
		left: -210px!important;
		display: none!important;
	}

	#content .esquilo-contato
	{
		right: -330px!important;
		display: none!important;
	}

	#content .ave-contato
	{
		left: -540px!important;
		display: none!important;
	}

}